/* 
Base css
*/
body {
    font-family: 'Poppins', sans-serif;
}
.theme-button-one {
    background: #fff !important;
    color: #5243C2 !important;
    font-weight: 500 !important;
    padding: 10px 30px !important;
}
.theme-button-two {
    background: #5243C2 !important;
    color: #fff !important;
    font-weight: 500 !important;
    padding: 10px 30px !important;
    border-radius: 0 !important;
}
.theme-button-three {
    background: #5243C2 !important;
    color: #fff !important;
    font-weight: 500 !important;
    padding: 10px 30px !important;
    border-radius: 25px !important;
}
.theme-button-two i {
    margin-left: 10px;
    font-size: 14px;
}

.section-heading {
    text-align: center;
}

.section-heading h3 {
    font-size: 42px;
}

/* 
Header CSS
*/
.header .navbar-brand {
    font-weight: 500;
    font-size: 24px;
}
.header .nav-item {
    margin: 0 10px;
}
.header .nav-link {
    font-weight: 500;
}

/* 
Hero CSS
*/
.hero .carousel-caption {
    margin-bottom: 30px;
}
.hero .carousel-caption h2 {
    font-size: 45px;
}

/* 
About CSS
*/
.about {
    position: relative;
}

.theme-toast {
    position: absolute;
    top: 150px;
    right: 0;
}
.about .theme-toast {
    border-radius: 0 !important;
    border-left: 5px solid #5243C2;
}
.theme-toast i {
    color: #5243C2;
    margin-right: 10px;
}
/* 
Package CSS
*/
.package-head h3 {
    font-size: 38px;
    font-weight: 700;
}
.package-head h4 {
    font-size: 24px;
}
.package-detail ul {
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
}
.package-detail ul li {
    list-style: none;
    margin: 5px 0;
}
.package-detail ul li i {
    color: #5243C2;
    margin-right: 5px;
    opacity: .8;
}
.special-package {
    background: #5243C2;
    color: #fff;
    border-radius: 25px;
    position: relative;
}
.special-package .package-detail ul li i {
    color: #fff;
}
.special {
    position: absolute;
    top: -10px;
    right: 20px;
    background: #FF4E4E;
    padding: 6px 10px;
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
}
.special-package .theme-button-three {
    background: #fff !important;
    color: #5243C2 !important;
    font-weight: 500 !important;
    padding: 10px 30px !important;
    border-radius: 25px !important;
}

/* 
Testimonial CSS
*/
.single-testimonial h4 {
    font-size: 16px;
    font-weight: 700;
    margin-top: 15px;
}
.single-testimonial h5 {
    font-size: 14px;
    font-weight: 700;
    color: #747474;
}

/* 
Footer CSS
*/
.footer {
    background: #0B0D17;
}

.copyright-text {
    color: #fff;
}

.apps-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.apps-text h3 {
    color: #fff;
}

.apps-text img {
    margin: 10px 0;
}

/* 
Responsive CSS
*/
@media (max-width: 992px) {
    .section-heading h3 {
        font-size: 32px;
    }
    .header .navbar-brand {
        font-size: 17px;
    }
    .hero .carousel-item {
        min-height: 400px;
    }
    .hero .carousel-item img {
        min-height: 400px;
    }
    .hero .carousel-caption {
        margin-bottom: 0;
    }
    .hero .carousel-caption h2 {
        font-size: 32px;
    }
    .theme-button-one {
        padding: 6px 20px !important;
    }
    .theme-button-two {
        padding: 6px 20px !important;
    }
    .theme-button-three {
        padding: 6px 20px !important;
    }
    .faq-text {
        margin-bottom: 30px;
    }
    .copyright-text {
        margin-top: 30px;
        text-align: center;
    }
}