/* 
Base css
*/
body {
    font-family: 'Poppins', sans-serif;
}

/* 
Header CSS
*/
.header .navbar-brand {
    font-weight: 500;
}
.header .nav-item {
    margin: 0 10px;
}
.header .nav-link {
    font-weight: 500;
}